<div id="modal_signup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content text-center padding-0 width-500-px margin-left-right-auto color-bg-white">
      <div class="col-xs-12 col-md-12 padding-50 padding-bottom-30 color-bg-white">
        <img src="assets/images/logo.png" class="margin-bottom-40" alt="">
        <form [hidden]="step !== 0" class="col-xs-12 col-md-12 padding-0 margin-bottom-30" [formGroup]="form0">
          <input type="email" formControlName="email" class="font-weight-600 form-control color-darkgray margin-bottom-10 height-40-px boxshadow-none width-400-px" style="border:1px solid #e9e9e9;" placeholder="Email">
          <input type="password" formControlName="password" class="font-weight-600 form-control color-darkgray margin-bottom-10 height-40-px boxshadow-none width-400-px" style="border:1px solid #e9e9e9;" placeholder="Password">
          <button (click)="onClickContinue(form0.get('email').value, form0.get('password').value);" type="submit" class="form-control bg-blue color-text-white font-weight-600 font-px-16 height-40-px padding-top-7 border-none width-400-px" [disabled]="!form0.valid">Continue</button>
          <p class="margin-top-20 margin-bottom-20 font-weight-600">OR</p>
          <button (click)="onClickSignupWithFB();" class="padding-top-12 padding-bottom-12 color-text-white font-weight-600 font-px-15" style="padding-right:110px; padding-left:115px; position:relative; background-color: #475993; border-radius: 2px; outline: none; border: none; width: 100%;">
            <i class="fa fa-facebook-square color-text-white fa-2x" style="position:absolute; left: 15px; top:8px;"></i>
            <p class="display-inlineBlock margin-0">Continue with Facebook</p>
          </button>
          <br>
          <br>
          <button (click)="onClickSignupWithGoogle();" class="padding-top-12 padding-bottom-12 color-text-white font-weight-600 font-px-15" style="padding-right:110px; padding-left:135px; position:relative; border:1px solid #e4e4e4; border-radius: 2px; outline: none; width: 100%; background-color: #fff;">
            <img src="assets/images/icons/google1.png" style="width:24px; height:24px; position:absolute; left: 15px; top:10px;" alt="">
            <p class="display-inlineBlock color-text-black margin-0">Continue with Google</p>
          </button>
        </form>
        <form [hidden]="step !== 1" class="col-xs-12 col-md-12 padding-0 margin-bottom-30" [formGroup]="form1">
          <input type="text" formControlName="firstName" class="font-weight-600 form-control color-darkgray margin-bottom-10 height-40-px boxshadow-none width-400-px" style="border:1px solid #e9e9e9;" placeholder="First Name">
          <input type="text" formControlName="lastName" class="font-weight-600 form-control color-darkgray margin-bottom-10 height-40-px boxshadow-none width-400-px" style="border:1px solid #e9e9e9;" placeholder="Last Name">
          <button (click)="onClickSignup(form1.get('firstName').value, form1.get('lastName').value);" type="submit" class="form-control bg-blue color-text-white font-weight-600 font-px-16 height-40-px padding-top-7 border-none width-400-px" [disabled]="loading || !form1.valid">Sign Up</button>
          <p (click)="onClickBack();" class="font-weight-600 color-gray margin-top-40 font-em-11" style="cursor:pointer;">Back</p>
        </form>
        <p class="color-gray font-em-09" style="line-height:20px;">By continuing, you agree to Pointter's <br/>
          <span class="color-darkgray">Terms of Service, Privacy Policy</span>
        </p>
      </div>
      <div class="col-xs-12 col-md-12 padding-0 color-bg-white padding-top-15 padding-bottom-15" style="border-top: 1px solid #e9e9e9;">
        <p style="cursor:pointer;" data-toggle="modal" data-target="#modal_signin" data-dismiss="modal" class="color-gray margin-top-5">Already a member? <span class="color-blue">Sign In</span></p>
      </div>
    </div>
  </div>
</div>
