<div class="col-xs-12 col-md-12 padding-80" style="background-color:rgb(249,249,249)">

  <div id="index_main" class="col-xs-12 col-md-12 padding-0 color-bg-white div-white-box-shadow" style="border:1px solid #e4e4e4;">

    <div id="index_panel_top" class="col-md-12 col-sm-12 col-xs-12 padding-0" style="border-bottom:1px solid #e4e4e4;">

      <div class="col-xs-12 col-sm-4 col-md-3 padding-0">

        <div class="col-xs-12 col-md-12 padding-21 padding-bottom-12">

          <h4 class="color-text-black font-weight-600 display-inlineBlock">Messages</h4>
          <i class="fa fa-edit color-mediumgray pull-right font-px-22 padding-top-10"></i>

        </div>

      </div>


      <div class="col-xs-12 col-sm-4 col-md-6 padding-21 padding-bottom-12" style="border-right:1px solid #e4e4e4; border-left:1px solid #e4e4e4;">

        <div class="col-md-1 col-xs-4 padding-0">
          <img src="assets/images/icons/post_profile.png" class="display-inlineBlock border-radius-50-p" width="44px" height="44px" alt="">
        </div>

        <div class="col-md-9 col-xs-8 margin-top-2 padding-left-10">
          <p class="color-text-black font-weight-300 font-px-14 margin-bottom-0 margin-right-5">Peter Holms</p>
          <p class="color-gray font-weight-300 font-px-12 margin-bottom-0 margin-top-0">Last seen 29 mins ago</p>
        </div>

      </div>


      <div class="col-xs-12 col-sm-4 col-md-3 padding-21 padding-bottom-12">
        <h4 class="color-text-black font-weight-600 display-inlineBlock">Actions</h4>
        <i data-toggle="dropdown" class="dropdown dropdown-toggle fa fa-bars color-mediumgray pull-right font-px-22 padding-top-10"></i>

        <ul class="dropdown-menu pull-right">
          <li class="padding-top-5 padding-bottom-5" onclick="return change_rightPanelContent('sendService');"><a href="#">Send Service</a></li>
          <li class="padding-top-5 padding-bottom-5" onclick="return change_rightPanelContent('sendCustomOffer');"><a href="#">Send Custom Offer</a></li>
          <li class="padding-top-5 padding-bottom-5" onclick="return change_rightPanelContent('requestOffer');"><a href="#">Request Offer</a></li>
        </ul>

      </div>


    </div>




    <div class="col-xs-12 col-md-12 padding-0">

      <div id="index_panel_left" class="col-xs-12 col-md-3 padding-0">


        <div class="col-xs-12 col-md-12 padding-0">

          <div class="col-xs-12 col-md-12 padding-15" style="border-bottom:1px solid #e4e4e4;">

            <div class="col-md-3 col-xs-3 padding-0 padding-top-3 text-left">
              <img src="assets/images/icons/online1.png" class="border-radius-50-p margin-right-5" width="10px" height="10px" alt="">
              <img src="assets/images/myprofile.png" width="32px" height="32px" class="border-radius-50p" alt="">
            </div>

            <div class="col-md-7 col-xs-7 padding-0">
              <p class="color-blue font-weight-600 margin-bottom-0">Peter Holms (2)</p>
              <p class="color-text-black margin-bottom-0 font-em-09">Recent message</p>
            </div>

            <div class="col-md-2 col-xs-2 padding-0">
              <p class="color-gray pull-right font-em-09">Sep 25</p>
            </div>

          </div>

        </div>


        <div class="col-xs-12 col-md-12 padding-0">

          <div class="col-xs-12 col-md-12 padding-15" style="border-bottom:1px solid #e4e4e4;">

            <div class="col-md-3 col-xs-3 padding-0 padding-top-3 text-left">
              <img src="assets/images/icons/online1.png" class="border-radius-50-p margin-right-5" width="10px" height="10px" alt="">
              <img src="assets/images/myprofile.png" width="32px" height="32px" class="border-radius-50p" alt="">
            </div>

            <div class="col-md-7 col-xs-7 padding-0">
              <p class="color-darkgray margin-bottom-0">Peter Holms</p>
              <p class="color-gray margin-bottom-0 font-em-09">Recent message</p>
            </div>

            <div class="col-md-2 col-xs-2 padding-0">
              <p class="color-gray pull-right font-em-09">Sep 25</p>
            </div>

          </div>

        </div>


        <div class="col-xs-12 col-md-12 padding-0">

          <div class="col-xs-12 col-md-12 padding-15" style="border-bottom:1px solid #e4e4e4;">

            <div class="col-md-3 col-xs-3 padding-0 padding-top-3 text-left">
              <img src="assets/images/icons/offline.png" class="border-radius-50-p margin-right-5" width="10px" height="10px" alt="">
              <img src="assets/images/myprofile.png" width="32px" height="32px" class="border-radius-50p" alt="">
            </div>

            <div class="col-md-7 col-xs-7 padding-0">
              <p class="color-darkgray margin-bottom-0">Peter Holms</p>
              <p class="color-gray margin-bottom-0 font-em-09">Recent message</p>
            </div>

            <div class="col-md-2 col-xs-2 padding-0">
              <p class="color-gray pull-right font-em-09">Sep 25</p>
            </div>

          </div>

        </div>


        <div class="col-xs-12 col-md-12 padding-0">

          <div class="col-xs-12 col-md-12 padding-15" style="border-bottom:1px solid #e4e4e4;">

            <div class="col-md-3 col-xs-3 padding-0 padding-top-3 text-left">
              <img src="assets/images/icons/offline.png" class="border-radius-50-p margin-right-5" width="10px" height="10px" alt="">
              <img src="assets/images/myprofile.png" width="32px" height="32px" class="border-radius-50p" alt="">
            </div>

            <div class="col-md-7 col-xs-7 padding-0">
              <p class="color-darkgray margin-bottom-0">Peter Holms</p>
              <p class="color-gray margin-bottom-0 font-em-09">Recent message</p>
            </div>

            <div class="col-md-2 col-xs-2 padding-0">
              <p class="color-gray pull-right font-em-09">Sep 25</p>
            </div>

          </div>

        </div>

      </div>


      <div id="index_sidepanel_middle" class="col-xs-12 col-sm-4 col-md-6 padding-0" style="min-height:500px; border-right:1px solid #e4e4e4; border-left:1px solid #e4e4e4;">

        <div id="messages" class="col-xs-12 col-md-12 padding-0 padding-bottom-70">

          <div class="col-xs-12 col-md-12 chat_message width-400-px margin-top-40">

            <div class="col-md-4 col-xs-4 text-right padding-top-3">
              <img src="assets/images/icons/post_profile.png" class="display-inlineBlock border-radius-50-p" width="44px" height="44px" alt="">
            </div>

            <div class="col-md-8 col-xs-8 margin-top-5 padding-0">

              <div class="col-xs-12 col-md-12 padding-top-6 padding-bottom-6" style="border-radius:3px; background-color:#F0F0F3;">
                <p class="color-text-black font-weight-300 font-px-14 margin-bottom-0">Do you dog sitting ?</p>
              </div>

              <div class="col-xs-12 col-md-12 padding-0">
                <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5">May 15 2017 8:33PM</p>
              </div>

            </div>

          </div>


          <div class="col-xs-12 col-md-12 chat_message width-400-px margin-top-40" style="float:right;">

            <div class="col-md-8 col-xs-8 margin-top-8 padding-0">

              <div class="col-xs-12 col-md-12 padding-top-6 padding-bottom-6 div-white-box-shadow-3" style="border-radius:3px; background-color:#FFF;">
                <p class="color-text-black font-weight-300 font-px-14 margin-bottom-0">Do you dog sitting ?</p>
              </div>

              <div class="col-xs-12 col-md-12 padding-0 text-right">
                <img src="assets/images/icons/message_seen.png" alt="">
                <p class="display-inlineBlock color-gray font-weight-300 font-px-10 margin-0 margin-top-5 text-right">May 15 2017 8:33PM</p>
              </div>

            </div>


            <div class="col-md-4 col-xs-4 text-left padding-top-3">
              <img src="assets/images/icons/post_profile.png" class="display-inlineBlock border-radius-50-p" width="44px" height="44px" alt="">
            </div>

          </div>


          <div class="col-xs-12 col-md-12 chat_message width-400-px margin-top-40">

            <div class="col-md-4 col-xs-4 text-right padding-top-3">
              <img src="assets/images/icons/post_profile.png" class="display-inlineBlock border-radius-50-p" width="44px" height="44px" alt="">
            </div>

            <div class="col-md-8 col-xs-8 margin-top-5 padding-0">

              <div class="col-xs-12 col-md-12 padding-top-6 padding-bottom-6" style="border-radius:3px; background-color:#F0F0F3;">
                <p class="color-text-black font-weight-300 font-px-14 margin-bottom-0">Do you dog sitting ?</p>
              </div>

              <div class="col-xs-12 col-md-12 padding-0">
                <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5">May 15 2017 8:33PM</p>
              </div>

            </div>

          </div>

          <div class="col-xs-12 col-md-12 width-500-px chat_message margin-top-40" style="float:right;">

            <div class="col-md-8 col-xs-8 text-left width-350-px div-white-box-shadow-3 padding-15 dispaly-inleBlock" style="position:relative; min-height:140px;">

              <div class="width-110-px text-left display-inlineBlock" style="position:absolute; top:15px;">
                <img src="assets/images/chat.png" class="display-inlineBlock" width="110px" height="110px" alt="">
              </div>

              <div class="padding-6 display-inlineBlock float-left text-center" style="position:absolute; top:15px; left:130px;">
                <p class="color-darkgray font-weight-300 font-px-14 margin-bottom-0 text-left">Dog Waliking Service</p>
                <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5 font-px-12 margin-bottom-5">San Jose, CA, 22km by Jhone deo</p>

                <p class="color-gray display-inlineBlock pull-left font-px-14">
                  <img src="assets/images/p.png" alt="">
                  234
                </p>

                <p class="color-gray display-inlineBlock text-center font-px-14">
                  <i class="fa fa-briefcase color-mediumgray"></i>
                  23
                </p>

                <p class="color-gray display-inlineBlock pull-right font-px-14">
                  <i class="fa fa-star color-mediumgray"></i>
                  96%
                </p>

                <p class="text-left">
                  <a href="" class="display-inline padding-6 padding-left-15 padding-right-15 bg-blue color-text-white font-px-12" style="border-radius: 12px;">
                  $24/hr - BUY NOW
                  </a>
                </p>


              </div>

            </div>


            <div class="col-xs-4 col-md-3 text-left padding-top-3 dispaly-inleBlock">
              <img src="assets/images/icons/post_profile.png" class="display-inlineBlock border-radius-50-p" width="44px" height="44px" alt="">
            </div>


            <div class="col-xs-12 col-md-12 padding-0 text-left">
              <img src="assets/images/icons/message_seen.png" alt="">
              <p class="color-gray font-weight-300 font-px-10 margin-0 margin-top-5 display-inlineBlock">May 15 2017 8:33PM</p>
            </div>

          </div>

        </div>


        <div class="col-xs-12 col-md-12 padding-15" style="background-color:#F0F0F3;">

          <div class="width-500-px padding-0 margin-left-right-auto" style="position:relative;">
            <input id="message_box" type="text" class="width-100-p form-control" onkeyup="append_msg(this);" placeholder="Write a message ...">
            <span style="position:absolute; right:15px; top:0px;">
              <i class="fa fa-smile-o font-px-24 color-gray margin-5"></i>
              <i class="fa fa-paperclip font-px-22 color-gray margin-5"></i>
            </span>
          </div>

        </div>


      </div>


      <div id="index_sidepanel_right" class="col-xs-12 col-sm-4 col-md-3 padding-0">


        <div class="col-xs-12 col-md-12 padding-10" style="background-color:#F0F0F3;">
          <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Orders</p>
          <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3">2 active</p>
        </div>


        <div class="col-xs-12 col-md-12 padding-10 padding-left-20" style="">

          <p class="color-darkgray margin-0">
            <span class="display-inline">
              <span>Dog Walk Service</span>
              <span class="pull-right margin-right-10">$50</span>
            </span>
          </p>

          <p class="color-gray margin-0 font-em-09 margin-top-5">
            <i class="fa fa-map-marker"></i>
            <span>Sans Jose, CA, 22 km</span>
          </p>

          <p class="color-blue margin-0  font-em-09 margin-top-5">
            Start Service, 11/08 | 8PM
          </p>

        </div>


        <div class="col-xs-12 col-md-12 padding-10 margin-top-12" style="background-color:#F0F0F3;">
          <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Offers</p>
          <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3">3 active</p>
        </div>


        <div class="col-xs-12 col-md-12 padding-10 padding-left-20" style="">

          <p class="color-darkgray margin-0">
            <span class="display-inline">
              <span>Dog Walk for 1 hour</span>
              <span class="pull-right margin-right-10">$50</span>
            </span>
          </p>

          <p class="color-gray margin-0 font-em-09 margin-top-5">
            <i class="fa fa-map-marker"></i>
            <span>Sans Jose, CA, 22 km</span>
          </p>

          <p class="color-blue margin-0  font-em-09 margin-top-5">
            Expires on 11/02
          </p>

        </div>


        <div class="col-xs-12 col-md-12 padding-10 margin-top-12" style="background-color:#F0F0F3;">
          <p class="color-darkgray display-inlineBlock margin-0 margin-left-10">Request</p>
          <p class="color-darkgray display-inlineBlock margin-0 margin-right-10 pull-right font-em-09 margin-top-3">1 active</p>
        </div>


        <div class="col-xs-12 col-md-12 padding-10 padding-left-20" style="">

          <p class="color-darkgray margin-0">
            <span class="display-inline">
              <span>Looking for Dog Walk</span>
              <span class="pull-right margin-right-10">$50</span>
            </span>
          </p>

          <p class="color-gray margin-0 font-em-09 margin-top-5">
            <i class="fa fa-map-marker"></i>
            <span>Sans Jose, CA, 22 km</span>
          </p>

          <p class="color-blue margin-0  font-em-09 margin-top-5">
            Expires on 11/02
          </p>

        </div>


        <div class="col-xs-12 col-md-12 margin-top-120 margin-bottom-10">

          <p class="text-color-black font-weight-600 margin-bottom-5 text-center">Quick Send:</p>
          <p class="color-blue font-weight-600 text-center">Service | Offer | Request</p>

        </div>


      </div>


    </div>
  </div>
</div>
